---
http_interactions:
- request:
    method: get
    uri: https://twinword-topic-tagging.p.rapidapi.com/generate/?text=A%20detailed%20description%20of%20my%20dream.
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Rapidapi-Key:
      - 19d74b1b15mshb8fff83e34cec70p1a5357jsna7eb0f7e7805
      X-Rapidapi-Host:
      - twinword-topic-tagging.p.rapidapi.com
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Requests-Limit:
      - '9000'
      X-Ratelimit-Requests-Remaining:
      - '8988'
      X-Ratelimit-Requests-Reset:
      - '2669381'
      X-Rapidapi-Version:
      - 1.2.8
      X-Rapidapi-Region:
      - AWS - us-west-2
    body:
      encoding: ASCII-8BIT
      string: '{"keyword":{"detailed":1,"description":1,"dream":1},"topic":{"picture":0.8571428571428571,"fiction":0.5714285714285714,"plan":0.5714285714285714,"day":0.5714285714285714,"image":0.5714285714285714,"elaboration":0.5714285714285714,"file":0.5714285714285714,"intricacy":0.5714285714285714,"instructions":0.5714285714285714,"book":0.5714285714285714},"version":"7.5.3","author":"twinword
        inc.","email":"help@twinword.com","result_code":"200","result_msg":"Success"}'
  recorded_at: Tue, 23 May 2023 19:54:19 GMT
recorded_with: VCR 6.1.0
