---
http_interactions:
- request:
    method: get
    uri: https://twinword-topic-tagging.p.rapidapi.com/generate/?text=Last%20night%20I%20had%20a%20terrible%20dream%20where%20a%20balloon%20art%20clown%20made%20a%20dog%20out%20of%20a%20balloon,%20and%20the%20dog%20came%20to%20life.%20I%20tried%20to%20bite%20the%20balloon%20dog%20with%20my%20teeth,%20but%20all%20of%20my%20teeth%20fell%20out.%20Then%20my%20bones%20turned%20into%20jello,%20and%20I%20became%20a%20deflated%20goo%20person.
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Rapidapi-Key:
      - 19d74b1b15mshb8fff83e34cec70p1a5357jsna7eb0f7e7805
      X-Rapidapi-Host:
      - twinword-topic-tagging.p.rapidapi.com
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Requests-Limit:
      - '9000'
      X-Ratelimit-Requests-Remaining:
      - '8989'
      X-Ratelimit-Requests-Reset:
      - '2671426'
      X-Rapidapi-Version:
      - 1.2.8
      X-Rapidapi-Region:
      - AWS - us-west-2
    body:
      encoding: ASCII-8BIT
      string: '{"keyword":{"dog":3,"balloon":3,"teeth":2,"night":1,"terrible":1,"dream":1,"art":1,"clown":1,"come":1,"life":1},"topic":{"animal":0.2850539291217257,"human":0.2280431432973806,"fat":0.2280431432973806,"monster":0.2280431432973806,"job":0.2280431432973806,"taste":0.17103235747303544,"science":0.17103235747303544,"period":0.17103235747303544,"model":0.17103235747303544,"future":0.17103235747303544},"version":"7.5.3","author":"twinword
        inc.","email":"help@twinword.com","result_code":"200","result_msg":"Success"}'
  recorded_at: Tue, 23 May 2023 19:20:14 GMT
recorded_with: VCR 6.1.0
