---
http_interactions:
- request:
    method: get
    uri: https://twinword-topic-tagging.p.rapidapi.com/generate/?text=asdf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Rapidapi-Key:
      - 19d74b1b15mshb8fff83e34cec70p1a5357jsna7eb0f7e7805
      X-Rapidapi-Host:
      - twinword-topic-tagging.p.rapidapi.com
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Requests-Limit:
      - '9000'
      X-Ratelimit-Requests-Remaining:
      - '8932'
      X-Ratelimit-Requests-Reset:
      - '2510724'
      X-Rapidapi-Version:
      - 1.2.8
      X-Rapidapi-Region:
      - AWS - us-west-2
    body:
      encoding: ASCII-8BIT
      string: '{"version":"7.5.3","author":"twinword inc.","email":"help@twinword.com","result_code":"467","result_msg":"Topic
        not found"}'
  recorded_at: Thu, 25 May 2023 15:58:36 GMT
recorded_with: VCR 6.1.0
