---
http_interactions:
- request:
    method: get
    uri: https://twinword-topic-tagging.p.rapidapi.com/generate/?text=how%20much%20is%20that%20doggie%20in%20the%20window?%20The%20one%20with%20the%20waggily%20tail.%20How%20much%20is%20that%20doggie%20in%20the%20window?%20I%20do%20hope%20that%20doggie%27s%20for%20sale.
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Rapidapi-Key:
      - 19d74b1b15mshb8fff83e34cec70p1a5357jsna7eb0f7e7805
      X-Rapidapi-Host:
      - twinword-topic-tagging.p.rapidapi.com
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Requests-Limit:
      - '9000'
      X-Ratelimit-Requests-Remaining:
      - '8986'
      X-Ratelimit-Requests-Reset:
      - '2665488'
      X-Rapidapi-Version:
      - 1.2.8
      X-Rapidapi-Region:
      - AWS - us-west-2
    body:
      encoding: ASCII-8BIT
      string: '{"keyword":{"window":2,"tail":1,"hope":1,"sale":1},"topic":{"door":0.20930232558139536,"entrance":0.20930232558139536,"fin":0.20930232558139536,"window":0.20930232558139536,"threshold":0.20930232558139536,"style":0.20930232558139536,"skylight":0.20930232558139536,"shape":0.20930232558139536,"roof":0.20930232558139536,"porthole":0.20930232558139536},"version":"7.5.3","author":"twinword
        inc.","email":"help@twinword.com","result_code":"200","result_msg":"Success"}'
  recorded_at: Tue, 23 May 2023 20:59:12 GMT
recorded_with: VCR 6.1.0
